img {
    width: 20%;
}

body {
    text-align: center;
    background-color: rgb(255, 194, 204); 
    font-weight: 1000;
}

nav {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: 1000;
}
main p {
    font-size: 50px;
    text-align: center;
    padding-left: 650px;
    padding-right: 650px;
    color: white;
    margin: 10px auto;
}
footer p {
    font-size: 15px;
    margin: 10px auto;
    text-align: center;
}
a:hover {
    color: black;
}
h3{
    text-align: center;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px auto;
}
h2{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    margin: 10px auto
}

ol {
    text-align: center;
    padding-left: 700px;
    padding-right: 200px;
}
 li {
    text-align: left;
    padding-left: 650px;
    padding-right: 450px;
    color: black; 
    padding-left: 0%;

 }