body{
    width: 600px;
    text-align: center;
    
}

img{
    width: 600px;
}
div{
    display: grid;
    max-width: 600px;
    grid-template-columns: 200px 200px 200px;
    background-color: rgb(76, 100, 180);
    font-size: large;
    color: white;

}
.one{
    grid-column: 1/2;
    grid-row: 1/3;

}
.two{
    grid-column: 1/2;
    grid-row: 3/5;
}
.three{
    grid-column: 2/3;
    grid-row: 1/3;
}
.four{
    grid-column: 2/3;
    grid-row: 3/5;
}
.five{
    grid-column: 3/4;
    grid-row: 1/3;
}
.six{
    grid-column: 3/4;
    grid-row: 3/5;
}
h4 {
    color: rgb(76, 100, 180);
}
h1 {
    color: black;
}
p {
    color: gray;
}