 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 }
 div{
    background-color: gray;
    grid-column: 2/3;
    grid-row: 1/2;
 }
 img{
    width: 100%;
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
 }
 h1{
    color: black;
    font-size: 15vw;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: start;
    text-align: center
 }
 h2{
    color: rgb(122, 6, 6);
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 10vw;
    align-self: end;
    text-align: center
 }