@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&display=swap");

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #c4b19f;
}
#content {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1600px;
  margin: 0 auto;
  padding: 0;
  align-content: center;
}
header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 5;
}
#logo_link {
  grid-column: 1/2;
  grid-row: 1/3;
}
.logo {
  padding: 10px 0px 0px 30px;
  width: 30%;
}
nav {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0px 0px 80px;
}
nav a {
  font-family: "Playfair Display";
  color: #423e3b;
  background-color: #f0ead2;
  text-decoration: none;
  display: flex;
  justify-self: center;
  padding: 0px 10px 0px 10px;
  border: 0.5px #836c5d;
  box-shadow: 5px 5px 10px #f0ead2;
}
nav a:hover {
  font-family: "Playfair Display";
  color: #f0ead2;
  background-color: #76a9bc;
  box-shadow: 5px 5px 10px #76a9bc;
}
#hero {
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/3;
  margin-top: -200px;
}
main {
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  background-color: rgb(240, 234, 210, 0.2);
}
h1 {
  color: #423e3b;
  font-family: "Playfair Display";
  text-align: center
}
p {
  color: #423e3b;
  font-family: "PT Sans", "PT Serif", sans-serif;
  text-align: center
}
.about-me {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 50px 150px 50px 150px;
}
.about-me h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: left;
}
.about-me p:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me p:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me p:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 4/5;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me p:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 5/6;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me p:nth-of-type(5) {
  grid-column: 1/2;
  grid-row: 6/7;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me p:nth-of-type(6) {
  grid-column: 1/2;
  grid-row: 7/8;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me p:nth-of-type(7) {
  grid-column: 1/2;
  grid-row: 8/9;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me p:nth-of-type(8) {
  grid-column: 1/2;
  grid-row: 9/10;
  padding: 0px 100px 0px 0px;
  text-align: left;
}
.about-me img {
  grid-column: 2/3;
  grid-row: 2/10;
  width: 110%;
  align-self: center;
  justify-self: right;
  box-shadow: 5px 5px 10px #836c5d;
}
.portraits {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 150px 50px 150px;
}

.portraits h1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.portraits p {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-bottom: 30px;
}
.portrait-one {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.portrait-two {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.portrait-three {
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.portrait-one img,
.portrait-two img,
.portrait-three img {
  width: 90%;
  align-self: center;
  justify-self: center;
  transition: transform 0.5s;
  box-shadow: 1px 1px 4px #836c5d;
}
.portrait-one img:hover,
.portrait-two img:hover,
.portrait-three img:hover {
  opacity: 1;
  transform: scale(3);
}
.love-story {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 150px 50px 150px;
}
.love-story h1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.love-story p {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-bottom: 30px;
}
.love-one {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.love-one img {
  width: 90%;
  align-self: center;
  justify-self: center;
  transition: transform 0.5s;
  box-shadow: 1px 1px 4px #836c5d;
}
.love-one img:hover {
  opacity: 1;
  transform: scale(3);
}
.family-photo {
  grid-column: 1/2;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 150px 50px 150px;
}
.family-photo h1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.family-photo p {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-bottom: 30px;
}
.family-three {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.family-two {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.family-four {
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.family-one img,
.family-two img,
.family-three img,
.family-four img {
  width: 90%;
  align-self: center;
  justify-self: center;
  transition: transform 0.5s;
  box-shadow: 1px 1px 4px #836c5d;
}
.family-one img:hover,
.family-two img:hover,
.family-three img:hover,
.family-four img:hover {
  opacity: 1;
  transform: scale(3);
}
.wedding {
  grid-column: 1/2;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: 1fr;
  padding: 100px 150px 200px 150px;
}
.wedding h1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.wedding p {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 30px;
}
.wedding-one {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.wedding-one img {
  width: 100%;
  align-self: center;
  justify-self: center;
  transition: transform 0.5s;
  box-shadow: 1px 1px 4px #836c5d;
}
.wedding-one img:hover {
  opacity: 1;
  transform: scale(3);
}
footer {
  background: #836c5d;
  grid-column: 1/4;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 100px 0px 100px;
}
footer p:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #f0ead2;
}
footer p a {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "PT Sans", "PT Serif", sans-serif;
  color: #f0ead2;
  text-decoration: none;
}
footer p a:hover {
  color: #423e3b;
}
.social {
  grid-column: 3/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.social a:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.social a:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.social a:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.social img {
  width: 30%;
  margin: 4px 20px 1px 20px;
}
.social img:hover {
  box-shadow: 5px 5px 10px #c4b19f;
}
/*Page wtw*/
.wtw {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 50px 150px 50px 150px;
  display: grid;
  grid-template-columns: 1fr;
}
.wtw h1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.wtw p {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: larger;
}
.wtw-one {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0px 150px 50px 150px;
  grid-template-columns: 1fr;
}
.wtw-one h1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.wtw-one p {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 30px;
  font-size: larger;
}
.wtw-one img {
  grid-column: 1/2;
  grid-row: 3/4;
}
.wtw-two {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 150px 50px 150px;
}
.wtw-two h1,
.wtw-three h1,
.wtw-four h1,
.wtw-five h1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.wtw-two p,
.wtw-three p,
.wtw-four p,
.wtw-five p {
  grid-column: 1/4;
  grid-row: 2/3;
  font-size: larger;
}
.wtw-two img:nth-of-type(1),
.wtw-three img:nth-of-type(1),
.wtw-four img:nth-of-type(1),
.wtw-five img:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 90%;
  align-self: center;
  justify-self: center;
  box-shadow: 5px 5px 10px #836c5d;
}
.wtw-two img:nth-of-type(2),
.wtw-three img:nth-of-type(2),
.wtw-four img:nth-of-type(2),
.wtw-five img:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 90%;
  align-self: center;
  justify-self: center;
  box-shadow: 5px 5px 10px #836c5d;
}
.wtw-two img:nth-of-type(3),
.wtw-three img:nth-of-type(3),
.wtw-four img:nth-of-type(3),
.wtw-five img:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 90%;
  align-self: center;
  justify-self: center;
  box-shadow: 5px 5px 10px #836c5d;
}
.wtw-two img:hover,
.wtw-three img:hover,
.wtw-four img:hover,
.wtw-five img:hover {
  opacity: 1;
  transform: scale(1.3);
}
.wtw-three {
  grid-column: 1/2;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 150px 50px 150px;
}
.wtw-four {
  grid-column: 1/2;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 150px 50px 150px;
}
.wtw-five {
  grid-column: 1/2;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 150px 50px 150px;
}

/*начало эксперемента*/
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*конец эксперемента*/
